@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 18 67% 93%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 14 78% 61%;
    --primary-foreground: 0 0% 100%;
    --primary-gradient-end: 14 71% 69%;
    --secondary: 18 25% 88%;
    --secondary-foreground: 215 28% 17%;
    --muted: 18 25% 88%;
    --muted-foreground: 215 10% 45%;
    --accent: 38 55% 63%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 18 15% 85%;
    --input: 18 15% 88%;
    --ring: 14 78% 61%;
    --radius: 1rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 14 78% 61%;
    --primary-foreground: 0 0% 100%;
    --primary-gradient-end: 14 71% 69%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 38 55% 63%;
    --accent-foreground: 215 28% 17%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 14 78% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .stamp.filled {
    animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

@keyframes popIn {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
